<aside>
	<div class="panel radius">
		<h3>Show Us Some Love!</h3>
		<p>
			All of the information on Nearly Sacred is hard won. You can help support us by purchasing our products but did you also know you can simply 
give us money? Yep. You can. We are taking off our proverbial hat and allowing you to place proverbial money within it. That means you can help us in the same manner 
we have provided much of our content: Freely!
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>
